@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

// variables
$primary-color: #F7B1AB;
$primary-dark: #a75a54;
$primary-darker: #4b2825;

$secondary-color: #807182;
$secondary-dark: #4f3c7b;
$secondary-darker: #171A2B;

$bg-color: #D8AA96;
$font-color: rgba(0, 0, 0, .8);
$font-family: 'Montserrat', sans-serif;
$form-border-color: rgba(0, 0, 0, .1);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $font-family;
	color:$font-color;
}

body {
	background: $bg-color;
}

h1 {
	margin: 2rem;
	color: $secondary-darker;
}

h2 {
	color: $secondary-darker;
				
	&.full-width {
		font-size: 1.8rem;
		font-weight: 600;
	}

	span {
		color: $secondary-dark;
	}	
}

.grid-container,
.message-container,
.todo-grid-container {   
	margin: 2rem;
}

.grid-container,
.todo-grid-container {
	display: grid;
	column-gap: 2rem;
}

.grid-container,
.message-container {
	background: lighten($primary-color, 5%);
	padding: 2rem;
	max-width: 690px;
}

.message-container,
.todo-grid-container {   
	margin: 2rem;
}


button,
a.button {
	border-radius: 19px;
	font-family: $font-family;
	color: #fff;
	border: 1px solid transparent;
	transition: .2s all ease-in-out;
	cursor: pointer;
	
	&:hover {
		cursor: pointer;
	}
}

a.button {
	text-decoration: none;
	text-align: center;
	font-size: 0.8rem;
} 

.grid-container {
	grid-template-columns: repeat(2, 1fr);
	row-gap: 1rem;
		
	h3 {
		margin-top: 3.3rem;
		color: $secondary-darker;

		span {
			color: $primary-dark;
		}
	}

	.todo-btn {
		margin-top: 3rem;
	}

	.full-width {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	input,
	select,
	textarea {
		border: 1px solid $form-border-color;
		border-radius: 4px;
		height: 2rem;
		line-height: 2rem;
		padding-left: 0.3rem;
	}

	input,
	label,
	select,
	textarea {
		color: $font-color;
		width: 100%;
	}

	a.button {
		padding: 0.6rem 1.5rem;
		height: 2rem;
		width: 8rem;
		line-height: 0.8rem;
		background: $primary-dark;

		&:hover {
			background: $primary-darker;
		}
	}

	button {
		margin-top: 1.3rem;
		height: 2.5rem;
		line-height: 2rem;
		width: 100%;
		background: $secondary-color;

		&:hover {
			background: $secondary-darker;
		}
	}
}

.title,
.list-title,
.list,
.description,
.completed {
	label,
	p {
		display: block;
		margin-bottom: 0.3rem;
	}
}

.radio-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: #fff;
	border: 1px solid $form-border-color;
	border-radius: 4px;
	padding: 0.3rem;

	label {
		background: transparent;
		border: 1px solid transparent;
		border-radius: 2px;
		display: inline-block;
		height: 20px;
		line-height: 20px;
		font-size: 0.8rem;
		margin: 0;
		padding: 0;
		text-align: center;
		transition: .2s all ease-in-out;
		width: 50% !important;
		cursor: pointer;

		&:hover {
			border: 2px solid $primary-color;
			cursor: pointer;
		}
	}

	input[type="radio"] {
		display: none;
				
		&:checked+label {
			background: $primary-color;
			border: 1px solid $form-border-color;
		}
	}
}

.todo-grid-container {
	grid-template-columns: repeat(3, 1fr);
	row-gap: 2rem;
		
	.list-header {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin-bottom: 1rem;
	}

	#todo-board {
		max-width: 350px;
		margin: 0;

		h2 {
			color: $secondary-darker;
			margin: 0 1rem 0 0;
			padding: 0;
		}

		h3 {
			font-size: 1rem;
		}

		a.button {
			margin: 0;
			padding: 0.5rem 0;
			height: 2rem;
			line-height: 1rem;
			width: 4rem;
		}

		section {
			background-color: #fff;
			border-radius: 2px;
			padding: 0.5rem;
			margin-bottom: 1rem;
			line-height: 1.5rem;

			&.todo-done {
				background-color: rgb(186, 186, 186);
				color: rgb(70, 70, 70);
				text-decoration: line-through;

				p {
					background-color: rgb(186, 186, 186);
				}
			}
		}

		p {
			padding: 0;
			margin: 0;
			font-size: 0.9rem;
		}
	}
}

.message-container {

	h1, 
	h2 {
		margin: 0 0 2rem 0;
	}

	a.button {
		padding: 0.6rem 2.2rem;
		height: 2.5rem;
		line-height: 2rem;
		background: $secondary-color;

		&:hover {
			background: $secondary-darker;
		}
	}

	p {
		padding: 0.5rem;
		background-color: #fff;
		border: 1px solid transparent;
		border-radius: 2px;
				
		&:last-of-type {
			margin-bottom: 2rem;
		}
	}
}
