@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
$primary-bg-color: #F7B1AB;
$secondary-bg-color: #807182;
$secondary-btn: #cd756d;
$darker-primary: #5c322e;
$darker-purple: #171A2B;
$font-color: rgba(0, 0, 0, .8);
$font-family: 'Montserrat', sans-serif;
$form-border-color: rgba(0, 0, 0, .1);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

body {
    background: #D8AA96;
}

h1 {
    margin: 2rem;
    color: $darker-purple;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
    background: lighten($primary-bg-color, 5%);
    padding: 2rem;
    margin: 2rem;
    max-width: 690px;

	h2,
	h3 {
		color: $darker-purple;

		& span {
			color: $darker-primary;
		}
	}

    h2 {
        font-size: 2rem;
		font-weight: 600;
	}
	
	h3 {
		margin-top: 3.3rem;
	}

	.todo-btn {
		margin-top: 3rem;
	}

	.list-btn {
		margin-top: 0.3rem;
	}

	.full-width {
		grid-column-start: 1;
		grid-column-end: 3;
	}

    & input,
	select {
        border: 1px solid $form-border-color;
        border-radius: 4px;
        height: 2rem;
        line-height: 2rem;
        padding-left: 0.3rem;
	}
	
	textarea {
        border: 1px solid $form-border-color;
        border-radius: 4px;
        height: 4rem;
        line-height: 2rem;
        padding-left: 0.3rem;
    }

    & input,
    label,
	select,
	textarea {
        color: $font-color;
        width: 100%;
	}

	& button,
	.button {
		border-radius: 19px;
		font-family: $font-family;
		border: 1px solid transparent;
		transition: .2s all ease-in-out;
        cursor: pointer;
	}

	& .button {
		text-decoration: none;
		text-align: center;
        padding: 0.6rem 1.5rem;
		height: 2rem;
		width: 8rem;
		line-height: 0.8rem;
		font-size: 0.8rem;
        background: $secondary-btn;
        color: #fff;

        &:hover {
            background: $darker-primary;
            cursor: pointer;
        }
	}

    & button {
        margin-top: 1.3rem;
        height: 2.5rem;
        line-height: 2rem;
        width: 100%;
        background: $secondary-bg-color;
        color: #fff;

        &:hover {
            background: $darker-purple;
            cursor: pointer;
        }
    }
}

.title,
.list-title,
.list,
.description,
.completed {

    & label,
    p {
        display: block;
        margin-bottom: 0.3rem;
    }
}

.radio-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    border: 1px solid $form-border-color;
    border-radius: 4px;
    padding: 0.3rem;

    & label {
        background: transparent;
        border: 1px solid transparent;
        border-radius: 2px;
        display: inline-block;
        height: 20px;
		line-height: 20px;
		font-size: 0.8rem;
        margin: 0;
        padding: 0;
        text-align: center;
        transition: .2s all ease-in-out;
        width: 50% !important;
        cursor: pointer;

        &:hover {
            border: 2px solid $primary-bg-color;
            cursor: pointer;
        }
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked+label {
        background: $primary-bg-color;
        border: 1px solid $form-border-color;
    }
}

.todo-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem;
    column-gap: 2rem;
	row-gap: 2rem;
	
	.list-header {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin-bottom: 1rem;
	}

    #todo-board {
        max-width: 350px;
        margin: 0;

        & h2 {
            color: $darker-purple;
			margin: 0 1rem 0 0;
			padding: 0;
		}

		& h3 {
			font-size: 1rem;
		}
		
		& a.button {
			margin: 0;
			text-decoration: none;
        	padding: 0.5rem 0;
        	height: 2rem;
			line-height: 1rem;
			text-align: center;
			width: 4rem;
			font-size: 0.8rem;
		}

        & section {
            background-color: #fff;
            border-radius: 2px;
            padding: 0.5rem;
			margin-bottom: 1rem;
			line-height: 1.5rem;
        }

        & p {
            padding: 0;
			margin: 0;
			font-size: 0.9rem;
        }
    }
}

// #todo-board label {
//     display: inline-flex;
//     align-items: baseline;

//     input[type=checkbox] {
//         position: relative;
//         appearance: none;
//         font-size: inherit;
//         width: 1em;
//         margin: 0;
//         outline: none;
//         font-family: 'Font Awesome 5 Pro';
//         transition: 300ms ease-out;

//         &::after {
//             content: "\f111 ";
//             display: inline-block;
//             text-align: center;
//             width: 1em;
//         }

//         &:checked::after {
//             font-weight: 900;
//             content: "\2713 ";
//         }

//         &:active {
//             transform: scale(.6);
//         }

//         +span {
//             margin-left: 0.3rem;
// 			font-weight: 600;
// 			margin-bottom: 0.3rem;
//         }
//     }
// }

.message-container {
    background: lighten($primary-bg-color, 5%);
    padding: 2rem;
    margin: 2rem;
    max-width: 700px;

	h1, 
	h2 {
        margin: 0 0 2rem 0;
    }

    a.button {
        text-decoration: none;
        padding: 0.6rem 2.2rem;
        height: 2.5rem;
        line-height: 2rem;
        border-radius: 19px;
        font-family: $font-family;
        background: $secondary-bg-color;
        border: 1px solid transparent;
        color: #fff;
        transition: .2s all ease-in-out;
        cursor: pointer;

        &:hover {
            background: $darker-purple;
            cursor: pointer;
        }
    }

    ul {
        list-style: none;
    }

    p,
    li {
        padding: 0.5rem;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 2px;
    }

    p:last-of-type,
    li:last-of-type {
        margin-bottom: 2rem;
    }
}